<p>
    How old are you in a number of days? It's easy to calculate - just subtract your birthday from today. We could make
    this a real challenge though and count the difference between any dates.
</p>

<p>
    You are given two dates as an {% if is_js %}array{% else %}tuple{% endif %} with three numbers - a year, month and day. For example: 19 April 1982 will be
    (1982, 4, 19). You should find the difference in days between the given dates. For example between today and
    tomorrow = 1 day. The difference will always be either a positive number or zero, so don't forget about the absolute
    value.
</p>

<p>
    <strong>Input:</strong> Two dates as {% if is_js %}arrays of numbers{% else %}tuples of integers{% endif %}.
</p>

<p>
    <strong>Output:</strong> The difference between the dates in days as an {% if is_js %}number{% else %}integer{% endif %}.
</p>


<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>How it is used:</strong>
    Python has batteries included, so in this mission you’ll need to learn how to use completed modules so that you
    don't have to invent the bicycle all over again.

</p>

<p>
    <strong>Preconditions:</strong>
    <ul>
        <li>dates between 1 january 1 and 31 december 9999;</li>
        <li>dates are correct.</li>
    </ul>
</p>
